apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-app
          image: flask-task-master:latest
          imagePullPolicy: Never # Important since we are building locally in Minikube's Docker env
          ports:
            - containerPort: 5000
          env:
            - name: REDIS_HOST
              value: "redis-service" # Matches the service name
            - name: REDIS_PORT
              value: "6379"
